.add-memory__test {
    background-color: red;
    height: 40rem;
    margin-left: 20rem;
    overflow: hidden;
    position: relative;
    width: 40rem;

    &__1 {
        background-color: $white;
        bottom: 20.2rem;
        // height: 19.8rem;
        height: 100rem;
        position: absolute;
        right: 0;
        // top: 0;
        // width: 100%;
        width: 100rem;

        &--active {
            border-bottom-right-radius: 40rem;
            right: 40rem;
            width: 40rem;
            transition: border-radius .5s ease-out, width .5s ease-out, right .5s ease-out;
        }
    }

    &__2 {
        background-color: $white;
        // height: 19.8rem;
        height: 100rem;
        position: absolute;
        right: 0;
        top: 20.2rem;
        // width: 100%;
        width: 100rem;

        &--active {
            border-top-right-radius: 40rem;
            right: 40rem;
            width: 40rem;
            transition: border-radius .5s ease-out, width .5s ease-out, right .5s ease-out;
        }
    }

    &__3 {
        background-color: $white;
        height: .4rem;
        position: absolute;
        top: 19.8rem;
        transition: width .3s linear;
        width: 40rem;

        &--active {
            width: 0;
        }
    }
}
